<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Custom Login</title>
</head>
<body>
	<h1>Login</h1>
	<form name="loginForm" th:action="@{/login}" method="post">
		<p>
			<label for="username">Username</label> <input type="text"
				id="username" name="username" />
		</p>
		<p>
			<label for="password">Password</label> <input type="password"
				id="password" name="password" />
		</p>

		<input type="hidden" th:name="${_csrf.parameterName}"
			th:value="${_csrf.token}" />

		<button type="submit" class="btn" id="loginButton">Log in</button>
	</form>
</body>
</html>